<h2>yo - your password has changed</h2>
<hr>
<p>Hey <%= @user.email %>,</p>
<p>We wanted to let you know that your password was changed.</p>
<p>So if you didnt do it please send an email to app@quizzle.me from your registered email account</p>