<br><br><br><br>

<section id="browse" class="browse">
    <div class="container">
<div class="row">

<div class="col-md-2">
</div>
	<div class="col-md-8 textContainer">
				<div class="offer offer-big offer-info">

					<div class="offer-content">
								<h2>
									<%= @fact.fact_string %>
								</h2>
					</div>
				</div>
			</div>
 </div>

 <div class="col-md-2">
 </div>

<br><br><br>
