<h1>hey rhyz</h1>
<hr>


<br><br><br>
<h4>someone has created a new fact  <%= @fact.fact_string %> on <%= @fact.created_at.strftime("%A, %b %d") %></h4>
<br>
<br><br><br>

<br><br><br>
<div class="col-md-2">
</div>

<div class="col-md-8">
<h3>head on over and have a look <%= link_to "fact", @fact %></h3>

</div>

<div class="col-md-2">
</div>
