<!DOCTYPE html>
<html>
<head>
  <title>quizzle.me</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet'  type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

  <style>

  body {
    background-color: #673AB7;
    color: #fff;
  }

  .container-image {
  	padding-top: 50px;
      height: 500px;
      display: block;
      margin-left: auto;
      margin-right: auto;
  }

  </style>


</head>
<body>

  <%= yield %>

</body>
</html>
